<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Η ΕΡΓΑΣΙΑ</h2>
                    <h3 class="section-subheading text-muted">Εργαλεία Προβολής	Πολιτιστικού & Τουριστικού Προϊόντος</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Προβολή</h4>
                    <p class="text-muted">Επιλογή 10 Σημείων/Αντικειμένων Πολιτιστικού Ενδιαφέροντος (ΣΑΠΕ)	με κοινή θεματολογία. Παρουσίαση με θέμα οι Λίμνες στην Ελλάδα</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Συλλογή Πληροφοριών</h4>
                    <p class="text-muted">συλλογή πληροφοριών για τις λίμνες στην Ελλάδα χρησιμοποιώντας κάθε προσβάσιμο τεκμήριο (π.χ. φωτογραφίες, κείμενα κλπ) </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Παρουσίαση</h4>
                    <p class="text-muted">Ψηφιοποίηση και αξιοποίηση ανοικτών δεδομένων πολιτιστικού περιεχομένου μέσω της πλατφόρμας wikidata.org αξιοποιώντας linked data τεχνολογία.</p>
                </div>
            </div>
        </div>
    </section>
